<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::html_head">
</head>
<body>
<aside th:replace="fragments::menu"></aside>

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Consultations</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">

                        <!--Custom html-->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <a class="btn btn-block btn-primary" href="/consultations/create">
                                        <i class="fas fa-plus"></i>
                                        Add new consultation
                                    </a>
                                </h3>
                                <div class="card-tools" th:if="${totalPages > 1}">
                                    <div class="float-right">
                                        Total rows : [[${totalItems}]]
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item">
                                                <a class="page-link" th:if="${currentPage > totalPages}"
                                                   th:href="@{'/consultations/' + ${currentPage+1} +
                                                   '?sortField=' + ${sortField} +
                                                   '&sortOrder=' + ${sortOrder}}">«</a>
                                                <a class="page-link" style="color: black"
                                                   th:unless="${currentPage > totalPages}">«</a>
                                            </li>

                                            <li class="page-item" th:each="i:${#numbers.sequence(1,totalPages)}">
                                                <a class="page-link" th:if="${currentPage != i}"
                                                   th:href="@{'/consultations/' + ${i} +
                                                   '?sortField=' + ${sortField} +
                                                   '&sortOrder=' + ${sortOrder}}">[[${i}]]</a>
                                                <a class="page-link" style="color: black"
                                                   th:unless="${currentPage != i}">[[${i}]]</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" th:if="${currentPage < totalPages}"
                                                   th:href="@{'/consultations/' + ${currentPage+1} +
                                                   '?sortField=' + ${sortField} +
                                                   '&sortOrder=' + ${sortOrder}}">»</a>
                                                <a class="page-link" style="color: black"
                                                   th:unless="${currentPage < totalPages}">»</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px">
                                            <a th:href="@{'/consultations/' + ${currentPage}
                                            + '?sortField=id' + '&sortOrder=' + ${reverseSortOrder}}">
                                            #
                                            </a>
                                        </th>
                                        <th>
                                            <a th:href="@{'/consultations/' + ${currentPage}
                                            + '?sortField=patient.firstName' + '&sortOrder=' + ${reverseSortOrder}}">
                                                Patient name
                                            </a>
                                        </th>
                                        <th>
                                            <a th:href="@{'/consultations/' + ${currentPage}
                                            + '?sortField=doctor.firstName' + '&sortOrder=' + ${reverseSortOrder}}">
                                                Doctor name
                                            </a>
                                        </th>
                                        <th>
                                            <a th:href="@{'/consultations/' + ${currentPage}
                                            + '?sortField=created' + '&sortOrder=' + ${reverseSortOrder}}">
                                                Consultation date
                                            </a>
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="consultation : ${consultations}">
                                        <td th:text="${consultation.getId()}"></td>
                                        <td th:text="${consultation.getPatient().getFullName()}"></td>
                                        <td th:text="${consultation.getDoctor().getFullName()}"></td>
                                        <td th:text="${consultation.getCreated()}"></td>
                                        <td>
                                            <a href="#"
                                               th:href="@{'/consultations/edit/' + ${consultation.getId()}}">Edit</a> |
                                            <a href="#"
                                               th:href="@{'/consultations/details/' + ${consultation.getId()}}">Details</a>
                                            |
                                            <a href="#"
                                               th:href="@{'/consultations/delete/' + ${consultation.getId()}}">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Custom html-->

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>