<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::html_head">
</head>
<body>
<aside th:replace="fragments::menu"></aside>

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Patients</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">

                        <!--Custom html-->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" th:text="'Patient name: ' + ${patient.getFullName()}"></h3>
                            </div>

                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-4">Blood type:</dt>
                                    <dd class="col-sm-8"
                                        th:text="${patient.getBloodType()}"></dd>
                                    <dt class="col-sm-4">Birth day:</dt>
                                    <dd class="col-sm-8"
                                        th:text="${patient.getBirthDay().toLocaleString()}"></dd>
                                    <dt class="col-sm-4">Consultations:</dt>
                                    <dd class="col-sm-8"
                                        th:each="consultation, index:${patient.getConsultationList()}"
                                        th:text="${consultation.getCreated()}"
                                        th:classappend="${index.index==0?'':'offset-sm-4'}">
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <a class="btn btn-block btn-primary col-sm-2"
                           th:href="@{/patients/edit/{id}(id=${patient.getId()})}">
                            <i class="fas fa-edit"></i>
                            Edit patient
                        </a>
                        <!--Custom html-->

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>